html, body {
    min-height: 100vh;
    background-color: #eee !important;
}
body {

}

#changeRepoForm {
    margin-bottom: 30px;
}

a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none !important;
}
label {
    display: block;
}

/* Login */

.top-banner {
    background: black;
    color: white;
}
.top-banner .blue {
    color: #5bc0de;
}
.login {
    padding: 8px;
    background: #ccc;
    padding: 8px 32px;
    text-align: right;
}

/* Headers */

h1 {
    font-size: 16pt !important;
    font-weight: bold;
}
h2 {
    font-size: 16pt;
    font-weight: normal;
}

/* Nav */
.logo {
    padding-left: 0 !important;
}
.logo h1 {
    padding: 12px 0 12px 0;
    margin: 0;
}
.select-repo {
    padding: 12px 18px 12px 22px !important;
}
.logout {
    padding: 16px 36px 16px 0px !important;
    text-align: right;
}
.logout a {
    color: #9d9d9d;
}
.side-panel .username {
    font-weight: bold;
    margin-top: 18pt;
}
.select-repo {

}
.select-repo select {
    padding: .6em;
    font-size: .9em;
    color: #9d9d9d;
    background: black;
    border: none;
    font-weight: bold;
}
ul.breadcrumbs {
    margin-top: 16pt;
    font-size: 26px;
    padding: 8px 0 16px 0;
}
.add > div {
    margin: .5em 0;
}
.side-panel #explorer {

}
ul.files {
    padding: 0 32px 0 0;
    position: relative;
    
}
ul.breadcrumbs li {
    clear: both;
    list-style: none;
    font-size: 16pt;
}
ul.breadcrumbs li:last-child {
    font-size: 26px;
}
ul.files li {
    list-style: none;
    padding: 12px;
    border-top: 1px solid #bcbcbc;
}
ul.files li a, ul.files li a:hover {
		   color: #555;
		   text-decoration: none;
}
/*
ul.files li:after {
    content: "";
    display: block;
    color: #dcdcdc;
    background: #dcdcdc;
    width: 10%;
    height: 1px;
    margin: 1em 0 0 0;
}
*/
ul.files li.file {

}
ul.files li.editing {
    background: #ded;
    font-weight: bold;
}
ul.files li.file.editing a {
    color: black;
}
ul.files li.metadata {

}
ul.files li.directory {

}

ul.files li.cover {
    border: none;
    padding-left: 0;
    padding-bottom: 22px;
}
ul.files li.cover img {
    width: 120px;
}



/* Panels */

#app, .row {

}
.side-panel {
    padding: 0 !important;
/*    height: 100vh !important;
    overflow-y: scroll;*/
}
.edit-panel {
    padding-left: 0px !important;
    min-height: 100vh;

    /*height: 100vh !important;
    overflow-y: scroll;*/
}

/* Editor */

#editor {
    border-bottom: 1px dotted #ddd;

    margin-top: 0;

}
#editor .banner {
    margin: 0;
    padding: 1em 0;
    background: #eee;
}
#editor .banner input, #editor .banner .editor-name {
    font-size: 26px;
    background: #eee;
    border: none;
    padding: .5em 0;
    width: 50%;
    display: inline-block;
}
#editor .banner h2 {
    font-size: 16pt;
    padding: .5em;
    margin: 0;
    width: 50%;
    display: inline-block;
}
#editor .banner input:hover {
    background: #ddd;
}
#editor .banner .buttons {
    
}
.editor-toolbar {
    background: #fff;
    padding: .5em;
}
.editor-toolbar button, .editor-toolbar .buttons a {
    background: white;
    border: 1px solid gray;
    padding: 4px 8px;
    display: inline-block;
    margin: 4px;
    font-size: small;
    font-weight: bold;
}
.editor-toolbar .buttons {
    float: right;
}
.editor-toolbar .buttons a {
    color: black;
}
#editor-content {
    padding: 2em;
}
#editor-content {
    background: white !important;
    border: none !important;
    box-shadow: 6px 6px 5px #888888;
    
}
/* Utilities */

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* Messages */

.loading {
    height: 1.5em;
}
ul.messages {
    margin: 0;
    padding: 0;
}
ul.messages li {
    list-style: none;
    padding: 8px;
    font-size: small;
}
ul.messages li.message {
    color: gray
    border-top: 1px dotted gray;
}

.error {
    color: red;
}

/* Add Files */

.add button {
    margin-left: 12px;
    font-size: 11px;
}
